1 VERSIONINFO
FILEVERSION 1,0,0,0
PRODUCTVERSION 1,0,0,0
FILEFLAGSMASK 0x3fL
FILEFLAGS 0x0L
FILEOS 0x40004L
FILETYPE 0x1L
FILESUBTYPE 0x0L

BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "040904E4"
        BEGIN
            VALUE "CompanyName", "hdv0u"
            VALUE "FileDescription", "OMORI Launcher"
            VALUE "FileVersion", "1.0.0.0"
            VALUE "InternalName", "OMORI_Launcher1.exe"
            VALUE "OriginalFilename", "OMORI_Launcher1.exe"
            VALUE "ProductName", "OMORI Launcher"
            VALUE "ProductVersion", "1.0.0.0"
            VALUE "LegalCopyright", "Copyright (C) 2026 hdv0u"
        END
    END

    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x0409, 1200
    END
END